<html>
    <body>
        <form action="" method="get">
            {% csrf_token %}
            <input type="text" name="id" value="{{stud.id}}" readonly/>
            <input type="text" name="unm" value="{{stud.unm}}"/><br/>
            <input type="text" name="prog" value="{{stud.prog}}"/><br/>
            <input type="text" name="sec" value="{{stud.sec}}"/><br/>
            <input type="submit" value="update"/>

         </form>
         <div>{{msg}}</div>
         <div>
            <a href="/myapp/index">Index Page</a>
         </div>
    </body>
</html>